.header {
    text-align: center;
    background-color: #f8f9fa;
    padding: 20px;
}

.header-image {
    width: 200px;  
    height: auto;  
    display: block; 
    margin: 0 auto; 
}

.form-titles {
    text-align: center; 
    margin: 20px 0; 
}

.form-titles h2 {
    color: #003366; 
    margin: 0;
    font-size: 24px; 
}

.sub-titles {
    display: flex; 
    justify-content: center; 
    margin: 10px 0; 
}

.title-box {
    background-color: #f1f1f1; /* Kutucuk arka plan rengi */
    border: 1px solid #ccc; /* Kutucuk sınırı */
    border-radius: 5px; /* Kenar yuvarlama */
    padding: 10px; /* İçerik boşluğu */
    text-align: center; /* Yazı merkezi */
}

.title-box h3,
.title-box h4 {
    color: #003366; /* Başlık rengi */
    margin: 5px 0; /* Başlıklar arasındaki boşluk */
    cursor: pointer; /* Tıklanabilir göstermek için */
}

.title-box h3 {
    border-bottom: 1px solid #ccc; /* Çizgi */
    padding-bottom: 10px; /* Çizgi ile başlık arasındaki boşluk */
}

.contact-form {
    max-width: 400px;  
    margin: 20px auto; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.contact-form label {
    display: block; 
    margin: 10px 0 5px; 
    color: #003366; 
}

.contact-form input,
.contact-form textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    padding: 10px 15px; 
    background-color: #003366; 
    color: white; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #0056b3; 
}

